<p id="notice"><%= notice %></p>

<h1>Vacancies</h1>
  <tbody>
    <% @vacancies.each do |vacancy| %>
      <tr>
        <br><%=vacancy.title %><br>
        <td><%= link_to 'Show', vacancy, class: "btn btn-primary" %></td>
        <%if current_user.role != 'User' %>

        <td><%= link_to 'Edit', edit_vacancy_path(vacancy),class: "btn btn-warning" %></td>

<%if current_user.role =="Manager" %>
        <td><%= link_to 'Destroy', vacancy, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
<%end %>
      </tr>

  </tbody>
</table>

<br>
<br>
        <%end %>
  <% end %>
  <%if current_user.role == 'Manager' %>
<%= link_to 'New Vacancy', new_vacancy_path,class: "btn btn-dark" %>
  <%end %>
