<!DOCTYPE html>
<html>
  <head>
    <title>Recruitment Agency</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
      <main class="container py-5">
        <%render "layouts/flash_messages" %>
            <div class="row">
              <div class="mx-auto">
                <div class="card">
                  <div class="card shadow-lg ">
                    <div class="card-body p-5">
                      <%= yield %>
                    </div>
                 </div>
                </div>
              </div>
            </div>
      </main>
  </body>
</html>
